name: Release

on:
    push:
        branches: master
        tags: v*.*.*
  
    pull_request:
        types:
            - synchronize
            - opened
            - reopened
    repository_dispatch:
        types: [EffectiveRange/packaging-tools]  

concurrency:    
    group: ${{ github.workflow }}-${{ github.sha }}
    cancel-in-progress: true

jobs:
    prepare_release:
        name: Prepare
        uses: EffectiveRange/ci-workflows/.github/workflows/accept-repository-dispatch.yaml@v1_repodispatch
        with:
            versioned_dispatch_type: EffectiveRange/packaging-tools

    prepare_packaging_tools_ver:
        name: Prepare Packaging Tools Version
        runs-on: ubuntu-latest
        needs: prepare_release
        outputs:
          packaging_tools_ver: ${{ steps.set_packaging_tools_ver.outputs.packaging_tools_ver }}
        steps:
        - name: Set Packaging Tools Version
          id: set_packaging_tools_ver
          run: |
            if [ "${{ needs.prepare_release.outputs.dispatch_type}}" == "EffectiveRange/packaging-tools" ]; then
                echo "packaging_tools_ver=${{ needs.prepare_release.outputs.payload_version }}" >> $GITHUB_OUTPUT
            else
                echo "packaging_tools_ver=latest" >> $GITHUB_OUTPUT
            fi

    build-and-publish:
        runs-on: ubuntu-latest
        needs: [prepare_release,prepare_packaging_tools_ver]
        steps:
        - 
            name: Free runner disk space
            run: |
                df -h
                echo "Removing large packages"
                sudo apt-get remove -y '^dotnet-.*'
                sudo apt-get remove -y '^llvm-.*'
                sudo apt-get remove -y 'php.*'
                sudo apt-get remove -y '^mongodb-.*'
                sudo apt-get remove -y '^mysql-.*'
                sudo apt-get remove -y azure-cli google-cloud-sdk hhvm google-chrome-stable firefox powershell mono-devel libgl1-mesa-dri || true
                sudo apt-get autoremove -y
                sudo apt-get clean
                df -h
                echo "Removing large directories"
                sudo rm -rf /usr/share/dotnet/
                sudo rm -rf /usr/local/graalvm/
                sudo rm -rf /usr/local/.ghcup/
                sudo rm -rf /usr/local/share/powershell
                sudo rm -rf /usr/local/share/chromium
                sudo rm -rf /usr/local/lib/android
                df -h
        - 
            name: Checkout code
            uses: actions/checkout@v4
            with:
                submodules: true
        - 
            name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3

        - 
            name: Login to Docker Hub
            if: github.event_name != 'pull_request'
            uses: docker/login-action@v3
            with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

        -
            name: Docker meta
            id: meta
            uses: docker/metadata-action@v5
            with:
                images: effectiverange/devc-xc8-bookworm
                tags: |
                   type=raw,value=${{needs.prepare_release.outputs.tag}}
                flavor: |
                    latest=true
        - 
            name: Build and push Docker image
            uses: docker/build-push-action@v6
            id: build
            with:
                context: .
                push: ${{ github.event_name != 'pull_request' }}
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}
                build-args: |
                    PACKAGING_TOOLS_VER=${{ needs.prepare_packaging_tools_ver.outputs.packaging_tools_ver }}

              
            